.photo-grid{
    max-width: 1184px;
    min-width: 288px;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(284px, 1fr));
    gap:16px 16px;
    margin:0 auto;
}

@media screen and (max-width:1140px){
    .photo-grid{
        grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
        gap:14px 14px;
    }
}

@media screen and (max-width:984px){
    .photo-grid{
        max-width: 720px;
        grid-template-columns:repeat(auto-fill, minmax(352px, 1fr));
        gap:16px 16px;
    }
}

@media screen and (max-width:586px){
    .photo-grid{
        max-width: 288px;
        grid-template-columns:repeat(auto-fill, minmax(288px, 1fr));
        gap:12px 12px;
    }
}