.places{
    display: grid;
    grid-row-gap:80px;
    max-width: 984px;
    margin:0 auto;
}

@media screen and (max-width:984px){
    .places{
        grid-row-gap:73px;
    }

    .places .place:nth-child(1) h4{
        width:325px;
    }
}

/* @media screen and (max-width:568px){
    .places{
        padding-left: 16px;
    }
} */