.lead{
    max-width: 984px;
    /* height: 1005px; */
    background-color: #2A2C2F;
    margin:auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#fff;
    /* padding-left: 148px; */
}

@media screen and (max-width:1024px){
    .lead{
        max-width:928px;
        /* padding-left:48px;         */
    } 
}