.lead{
    max-width: 984px;
    background-color: #2A2C2F;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#fff;
    box-sizing: border-box;
    margin:0 auto;
}

@media screen and (max-width:1140px){
    .lead{
        /* max-width:928px; */
        padding-left:0;
    }
}

@media screen and (max-width:984px){
    .lead{
        /* min-width:768px; */
        padding-left:0;
    }
}

@media screen and (max-width:568px){
    .lead{
        /* min-width:320px; */
        padding-left:0;
    }
}