.lead__title{
    width:720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin:0;
    padding-left:calc(280px - 148px);
}

@media screen and (max-width:1024px){
    .lead__title{
        min-width:720px;
        padding-left:calc(152px - 48px);
    } 
}

@media screen and (max-width:768px){
    .lead__title{
        min-width:720px;
        padding-left:24px;
    } 
}

@media screen and (max-width:320px){
    .lead__title{
        min-width:288px;
        padding-left:16px;
        font-size: 40px;
        line-height: 44px;
    } 
}