.lead__title{
    max-width:720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin:0 auto;
}

@media screen and (max-width:768px){
    .lead__title{
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width:690px){
    .lead__title{
        font-size: 85px;
        line-height: 90px;
    }
}

@media screen and (max-width:613px){
    .lead__title{
        font-size: 75px;
        line-height: 80px;
    }
}

@media screen and (max-width:568px){
    .lead__title{
        max-width:288px;
        font-size: 40px;
        line-height: 44px;
    }
}