.intro__text{
    display:block;
    width:690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top:40px;
    margin-bottom:33px;
}

@media screen and (max-width:768px){
    .intro__text{
        min-width:720px;
        /* padding-left:24px;  */
    } 
}

@media screen and (max-width:320px){
    .intro__text{
        min-width:288px;
        /* padding-left:16px; */
        font-size: 16px;
        line-height: 163%;
    } 
}